* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Flow Circular", system-ui;
    /* font-family: "Roboto", sans-serif; */
}

*::selection {
    color: black;
    background-color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: black;
    color: white;
}

.flow-circular-regular {
    font-family: "Flow Circular", system-ui;
    font-weight: 400;
    font-style: normal;
}



.left {
    width: 25vw;
    padding: 10px;

}

.play-height {
    height: 85.5vh;
}

.right {
    width: 75vw;
    height: 97.7vh;
}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    width: 14px;
    padding-top: 14px;
    gap: 15px;
    list-style: none;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 25px;
}

.library {
    position: relative;
    min-height: 80vh;
}

.footer {
    position: absolute;
    display: flex;
    bottom: 0;
    font-size: 10px;
    gap: 13px;
    padding: 10px 0;
}

.footer a {

    color: grey;
}

.right {
    position: relative;
    margin: 16px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;

    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}
:root{
    --a:0;
    --b:148px;
    --c:0;
}
.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .3s;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: var(--b);
    right: 41px;
    transition: all .3s;
    opacity: var(--a);
    bottom: var(--c);
}
.card:hover{
    background-color: rgb(47, 48, 48);
    cursor: pointer;
--a:1;
--b:130px; 

}

.play-button {
    display: block;
    width: 203%;
    height: auto;
    /* opacity: 0; */
    /* transition:all 1s ease-in-out; */
}



.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;

}

.loginbtn {
    background-color: #fff;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;


}

.loginbtn:hover {
    font-weight: bold;
    padding: 10px;
    width: 80px;
    font-size: 17px;
}

/* .spotifyPlaylists{

} */

.playbar {
    position: fixed;
    bottom: 35px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    min-height: 70px;
    /* width: 90%; */
    width: 73vw;
    padding: 12px;
}

.info div {
    word-break: break-all;


}

.songsbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}


.songList {
    height: 655px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    /* padding: 12px 0; */
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px 8px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: rgb(0, 98, 255);
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    /* margin: 6px; */
    cursor: pointer;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 13px;
    background-color: rgb(0, 157, 255);
    position: relative;
    bottom: 7px;
    left: 0%;
    transition: left 0.5s;
}

.songsbuttons img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.songinfo,
.songtime {
    padding: 0 12px;
    color: #000;
}

/* .songtime {

    width: 135px;
} */

.songinfo {
    width: 235px;
}

.hamburger {
    display: none;
}

.hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.range input{
    cursor: pointer;

}
.center{
    display: flex;
    justify-content: center;
}
/* .abovebar {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    justify-content: space-between;
} */

/* .timevol {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
} */

@media (max-width:1200px) {
    .left {
        position: absolute;
        background-color: black;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 378px;
    }

    .cardContainer {
        justify-content: center;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 29px);
        display: flex;
        justify-content: center;
    }

    .seekbar {
        width: calc(100vw - 55px);
    }

    .hamburger {
        display: block;
    }

    .timevol {
        flex-direction: column;
        gap: 13px;
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        gap: 23px;
    }



    .songinfo,
    .songtime {
        /* color: #000; */
        padding: 0 12px;
        width: auto;
    }

    .card {
        width: 44vw;
    }
}
@media (max-width:600px){
    .card {
        width: 64vw;
    }
}
@media (max-width:1200px){
    .card:hover{
        background-color: rgb(47, 48, 48);
        cursor: pointer;
    --a:1;
    --b:0px; 
    --c:51px
 
    }

}

@media (max-width:500px){
    .card {
        width: auto;
    }
    .heading>*{
        padding: 2px;
    }
    .buttons>*{
        margin: 0 6px;
    }
    .cardContainer{
        max-height: unset;
        overflow-y: unset;
    }
}


/* @media (max-width: 1000px) and (min-width: 524px) {
    .playbar {
        width: 96%;
    }
    .right {
        width: 99vw;
    }
}
@media (max-width: 1400px) and (min-width: 1000px) {
    .playbar {
        width: 97%;
    }
    .right {
        width: 99vw;
    }
} */
/* 
@media (min-width: 516px) and (max-width: 700px) {
    .seekbar {
        width: 91vw;
    }
}
@media (min-width: 700px) and (max-width: 1200px) {
    .seekbar {
        width: 93vw;
    }
}
@media (min-width: 320px) and (max-width: 516px) {
    .seekbar {
        width: 90%;
    }
} */